@media screen and (max-width: 858px) {
    .hanbager {
        display: block;
    }
    .header-list {
        display: none;
    }
    .header-left {
        font-size: 30px;
    }
    .main-wrapper {
        padding: 0 20px;
        margin: 60px auto;
        flex-direction: column;
    }
    .main-left {
        width: 80%;
        margin-bottom: 60px;
        border-radius: 20px;
        height: 300px;
        
        &:hover {
            transform: scale(1.05);
        }
        img {
            border-radius: 20px;
        }
        p { 
            top: 140px;
        }
    }
    .main-right {
        width: 80%;
        border-radius: 20px;
        &:hover {
            transform: scale(1.05);
        }
        img {
            border-radius: 20px;
        }
    }
    .simokita-wrapper {
        padding: 0 20px;
    }
    .S-container {
        width: 80%;
        margin: 80px auto;
        border-radius: 20px;
        &:hover {
            transform: scale(1.05);
        }
        img {
            border-radius: 20px;
        }
        p {
            font-size: 25px;
        }
    }
    .S-right {
        margin: 0 auto;
    }
    #mask {
        ul {
            top: 80px;
        }
    }

//noill
.header-right2 {
    font-size: 30px;
}
.header-left {
    font-size: 30px;
}
.main-container0 {
    flex-direction: column;
    margin: 80px 0 20px 0;
}
.main-left0 {
    width: 80%;
    height: 300px;
    margin: 0 auto 40px auto;
    img {
        border-radius: 40px;
    }
}
.main-right0 {
    width: 90%;
    margin: 0 auto;
    dl {
        flex-direction: column;
        align-items: flex-start;
        dd {
            margin: 20px 0;
            text-align: left;
            width: 100%;
        }
        dt {
            margin: 20px 0;
            font-size: 20px;
            text-align: left;
        }
    }
}
.insta{
    text-align: center;
}

}
@media screen and (max-width: 475px) {
    
    .footer-wrapper2 {
        flex-direction: column;
        padding: 20px;
    }
    .top-back2 {
        margin-top: 30px;
    }
    .main-container0 {
        margin: 80px 0 20px 0;
    }
    .S-container { 
        height: 200px;
        p {
            font-size: 20px;
            height: 20px;
        }
    }
    .main-visual {
        width: 200px;
        height: 200px;
    }
    .header-left {
        font-size: 20px;
    }
    .header-right2{
        font-size: 20px;
    }
    .main-left0 {
        height: 200px;
        width: 95%;
    }
    .main-right0 {
        width: 95%;
        h3 {
            font-size: 25px;
        }
        dl {
            dt {
                font-size: 16px;
            }
            dd {
                font-size: 14px;
            }
        }
    }
    .ex {
        font-size: 14px;
    }
    .footer-left2{
        li {
            font-size: 27px;
            margin-right: 20px;
        }
    }
    .main-left {
        height: 200px;
        p {
            top: 95px;
            font-size: 25px;
        }
    }
    .main-right {
        height: 200px;
        p {
            font-size: 25px;
        }
    }
}